debug=true

defaultEntryPoints = ["http", "https"]
[entryPoints]
  [entryPoints.http]
  address = ":80"
    [entryPoints.http.redirect]
    entryPoint = "https"
  [entryPoints.https]
  address = ":443"
    [entryPoints.https.tls]

[acme]
email = "{{ cloudflare_email }}"
storage = "/etc/traefik/acme/acme.json"
entrypoint = "https"
acmeLogging = true
onDemand = true
onHostRule = true
caServer = "{{ proxy_acme_url | default('https://acme-staging.api.letsencrypt.org/directory') }}"
dnsProvider = "cloudflare"

[docker]
swarmmode = true
domain = "{{ inventory_clustername }}"
watch = true
exposedbydefault = false

[web]
readOnly = true

{% if proxy_forward is defined %}
[file]

[backends]
{% for backend in proxy_forward %}
[backends.{{ backend.name }}]
  [backends.{{ backend.name }}.servers.server1]
    url = "{{ backend.backend }}"

{% endfor %}

[frontends]
{% for frontend in proxy_forward %}
  [frontends.{{ frontend.name }}]
  backend = "{{ frontend.name }}"
    [frontends.{{ frontend.name }}.routes.{{ frontend.name }}1]
    rule = "Host:{{ frontend.frontend }}"

{% endfor %}
{% endif %}
