---

- name: "Create {{ role_path | basename }} {{ inventory_hostname[4:7] | upper() }}Stack directory"
  file:
    path:  "/volume1/{{ inventory_hostname[4:7] | upper() }}Stack/{{ role_path | basename }}"
    state: "directory"
  run_once: yes

- name: "Create {{ role_path | basename }} {{ inventory_hostname[4:7] | upper() }}Stack empty directories"
  file:
    path:  "/volume1/{{ inventory_hostname[4:7] | upper() }}Stack/{{ role_path | basename }}/{{ d }}"
    state: "directory"
  run_once: yes
  loop_control:
    loop_var: d
  with_items:
    "{{ item.stackdirs }}"
  when:
    - item is defined
    - item.stackdirs is defined

- name: "Create {{ role_path | basename }} {{ inventory_hostname[4:7] | upper() }}Data empty directories"
  file:
    path:  "/volume1/{{ inventory_hostname[4:7] | upper() }}Data/{{ role_path | basename }}/{{ d }}"
    state: "directory"
  run_once: yes
  loop_control:
    loop_var: d
  with_items:
    "{{ item.datadirs }}"
  when:
    - item is defined
    - item.datadirs is defined

- name: "Create {{ role_path | basename }} {{ inventory_hostname[4:7] | upper() }}Stack template directories"
  file:
    path:  "{{ ('/volume1/' + (inventory_hostname[4:7] | upper()) + 'Stack/' + (role_path | basename) + '/' + f.name) | dirname }}"
    state: "directory"
  run_once: yes
  loop_control:
    loop_var: f
  with_items:
    "{{ item.templates }}"
  when:
    - item is defined
    - item.templates is defined

- name: "Create {{ role_path | basename }} {{ inventory_hostname[4:7] | upper() }}Stack templated files"
  template:
    src:  "{{ f.src }}"
    dest: "/volume1/{{ inventory_hostname[4:7] | upper() }}Stack/{{ role_path | basename }}/{{ f.name }}"
  run_once: yes
  loop_control:
    loop_var: f
  with_items:
    "{{ item.templates }}"
  when:
    - item is defined
    - item.templates is defined

- name: "Create {{ role_path | basename }} stack YML file"
  template:
    src:  "stack.j2"
    dest: "/volume1/{{ inventory_hostname[4:7] | upper() }}Stack/{{ role_path | basename }}/{{ role_path | basename }}-stack.yml"
  run_once: "yes"
  register: stack

- name: "Deploy {{ role_path | basename }} stack"
  command:
    "docker stack deploy --compose-file /volume1/{{ inventory_hostname[4:7] | upper() }}Stack/{{ role_path | basename }}/{{ role_path | basename }}-stack.yml --prune {{ role_path | basename }}"
  run_once: "yes"
  when:
    - stack.changed
    - item is not defined or item.deploy is not defined or item.deploy == true
