---

- name: "Checking that required variables are set"
  fail:
    msg: "{{ item }} is not defined"
  when:
    - hostvars[inventory_hostname][item] is not defined
  with_items:
    - storage_volumes
