RESTIC_REPOSITORY=s3:https://minio.ienuwonswp0100.suwa.illallangi.enterprises/suwa-backup
RESTIC_PASSWORD=Letmein1234
AWS_ACCESS_KEY_ID=WZGL1R3D3RR4VLSSPSXW
AWS_SECRET_ACCESS_KEY=cF6nSriir44fc1VvAfH1zDvTOA4xE5yFhI3F4bnp
