version: "3"

services:

  web:
    image: "linuxserver/musicbrainz"
    environment:
      - "BRAINZCODE={{ musicbrainz_code }}"
      - "TZ={{ musicbrainz_tz }}"
      - "WEBADDRESS={{ role_path | basename }}.{{ inventory_clustername }}"
    deploy:
      restart_policy:
        condition: "on-failure"
      labels:
        - "traefik.enable=true"
        - "traefik.backend={{ role_path | basename }}"
        - "traefik.port=5000"
        - "traefik.docker.network={{ docker_proxy_network }}"
        - "traefik.frontend.rule=Host:{{ role_path | basename }}.{{ inventory_clustername }}"
    networks:
      - "{{ docker_proxy_network }}"
    volumes:
      - "/volume1/{{ inventory_hostname[4:7] | upper() }}Stack/{{ role_path | basename }}/config:/config"
      - "/volume1/{{ inventory_hostname[4:7] | upper() }}Data/{{ role_path | basename }}/data:/data"

networks:
  {{ docker_proxy_network }}:
    external: true
