---

- name: "Install Packages"
  yum:
    pkg: "{{ item }}"
    state: present
  with_items:
    - "epel-release"

- name: "Install Packages"
  yum:
    pkg: "{{ item }}"
    state: present
  with_items:
    - "iotop"
    - "mosh"
    - "dos2unix"
    - "unix2dos"
    - "nano"
    - "ruby"
    - "rubygems"

- name: "Install kwalify"
  gem:
    name:         "{{ item }}"
    env_shebang:  yes
    include_doc:  yes
    state:        present
    user_install: no
  with_items:
    - "kwalify"