---

- name: "Install Packages"
  yum:
    pkg: "{{ item }}"
    state: present
  with_items:
    - "epel-release"

- name: "Install Packages"
  yum:
    pkg: "{{ item }}"
    state: present
  with_items:
    - "iotop"
    - "mosh"
    - "ansible"
    - "python-netaddr"
    - "dos2unix"
    - "unix2dos"
    - "docker-compose"
