---

- include_tasks: "check-vars.yml"

- include_tasks: "stack.yml"
  with_items:
    - deploy: false
      templates:
        - src:  "dnsconfig.js.j2"
          name: "dns/dnsconfig.js"
        - src:  "creds.json.j2"
          name: "dns/creds.json"

- command:
    "/usr/bin/docker run -v /volume1/{{ inventory_hostname[4:7] | upper() }}Stack/{{ role_path | basename }}/dns/:/dns/ stackexchange/dnscontrol dnscontrol push"
  run_once: "yes"
