version: "3"

services:

  web:
    image: "dockersamples/visualizer"
    deploy:
      restart_policy:
        condition: "on-failure"
      placement:
        constraints:
          - "node.role == manager"
      labels:
        - "traefik.enable=true"
        - "traefik.backend={{ role_path | basename }}"
        - "traefik.port=8080"
        - "traefik.docker.network={{ docker_proxy_network }}"
        - "traefik.frontend.rule=Host:{{ role_path | basename }}.{{ inventory_clustername }}"
    networks:
      - {{ docker_proxy_network }}
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"

networks:
  {{ docker_proxy_network }}:
    external: true
