@               IN    SOA     ns.illallangi.dn42. andrew.illallangi.com. (
                              2018120106 ; Serial
                              604800     ; Refresh
                              86400      ; Retry
                              2419200    ; Expire
                              604800 )   ; Negative Cache TTL

@               IN    NS      ns.illallangi.dn42.
@               IN    A       172.20.227.192
*               IN    CNAME   mel.illallangi.dn42.

ienumelrti0001  IN    A       172.20.227.193

ienumelswi0001  IN    A       172.22.158.164
ienumelswi0002  IN    A       172.22.158.165
ienumelswi0003  IN    A       172.22.158.166
ienumelswi0004  IN    A       172.22.158.167

ienumelwai0101  IN    A       172.22.158.168
ienumelwai0102  IN    A       172.22.158.169

ienumelnsi0101  IN    A       172.22.158.170
ienumelnsi0102  IN    A       172.22.158.171

ienumelk8p0101  IN    A       172.22.158.172
ienumelk8p0102  IN    A       172.22.158.173
ienumelk8p0103  IN    A       172.22.158.174
ienumelk8p0104  IN    A       172.22.158.175

ienumelvcp0100  IN    A       172.22.158.176
ienumelvcp0101  IN    A       172.22.158.177
ienumelvcp0102  IN    A       172.22.158.178
ienumelvcp0103  IN    A       172.22.158.179

ienumelswp0101  IN    A       172.20.227.196
ienumelswp0102  IN    A       172.20.227.197
ienumelswp0103  IN    A       172.20.227.198

ienumelnsp0001  IN    A       172.22.158.183

meldata         IN    CNAME   ienumelnsp0001.mel.illallangi.dn42.

