@               IN    SOA     ns.illallangi.dn42. andrew.illallangi.com. (
                              2018120106 ; Serial
                              604800     ; Refresh
                              86400      ; Retry
                              2419200    ; Expire
                              604800 )   ; Negative Cache TTL

@               IN    NS      ns.illallangi.dn42.
@               IN    A       172.20.227.192
*               IN    CNAME   sta.illallangi.dn42.

ienustarti0001  IN    A       172.20.227.194
