@               IN    SOA     ns.illallangi.dn42. andrew.illallangi.com. (
                              2018112901 ; Serial
                              604800     ; Refresh
                              86400      ; Retry
                              2419200    ; Expire
                              604800 )   ; Negative Cache TTL

@               IN    NS      ns.illallangi.dn42.
mel             IN    NS      ns.illallangi.dn42.
sta             IN    NS      ns.illallangi.dn42.
wfs             IN    NS      ns.illallangi.dn42.

@               IN    A       172.20.227.192
dn42            IN    A       172.20.227.192
ns              IN    A       172.20.227.192
ipify           IN    A       172.20.227.192
