@               IN    SOA     ns.illallangi.enterprises. andrew.illallangi.com. (
                              2018120106 ; Serial
                              604800     ; Refresh
                              86400      ; Retry
                              2419200    ; Expire
                              604800 )   ; Negative Cache TTL

@               IN    NS      ns.illallangi.enterprises.
@               IN    A       150.101.220.176
*               IN    CNAME   wfs.illallangi.enterprises.

ienuwfsrti0001          IN  A 150.101.220.179
