@               IN    SOA     ns.illallangi.enterprises. andrew.illallangi.com. (
                              2018120106 ; Serial
                              604800     ; Refresh
                              86400      ; Retry
                              2419200    ; Expire
                              604800 )   ; Negative Cache TTL

@               IN    NS      ns.illallangi.enterprises.
@               IN    A       109.74.194.222
*               IN    CNAME   lon.illallangi.enterprises.

ienulonrti0001  IN    A       109.74.194.222
