@               IN    SOA     ns.illallangi.ienu. andrew.illallangi.com. (
                              2018120106 ; Serial
                              604800     ; Refresh
                              86400      ; Retry
                              2419200    ; Expire
                              604800 )   ; Negative Cache TTL

@               IN    NS      ns.illallangi.ienu.
@               IN    A       172.25.25.16
*               IN    CNAME   wfs.illallangi.ienu.

ienuwfsrti0001  IN    A       172.25.25.19
