// Providers:

var REG_NONE = NewRegistrar('none', 'NONE');    // No registrar.
var DNS_CF = NewDnsProvider('cloudflare', 'CLOUDFLAREAPI');

//---------------------------------------------------------------------------------------------------------------------------------------------------
// illallangi.enterprises

D('illallangi.enterprises', REG_NONE, DnsProvider(DNS_CF),

// Apex records:

                        ALIAS('@', 'illallangi-web.github.io.'),
                          TXT('@', 'v=spf1 include:spf.protection.outlook.com include:_spf.internode.on.net -all'),
                           MX('@', 0, 'illallangi-enterprises.mail.protection.outlook.com.'),
                      CNAME('pki', 'illallangi-web.github.io.'),
                      CNAME('www', 'illallangi-web.github.io.'),
                     CNAME('home', 'illallangi-web.github.io.'),

// YAR-INF-01

      A('vl1.ienuyarrti0101.suwa', '172.25.0.1'),

          A('ienuyarnip0001.suwa', '172.25.0.2'),

          A('ienuyarnsi0001.suwa', '172.25.0.4'),
             CNAME('acadata.suwa', 'ienuyarnsi0001.suwa.illallangi.enterprises.'),
             CNAME('yardata.suwa', 'ienuyarnsi0001.suwa.illallangi.enterprises.'),
             CNAME('wondata.suwa', 'ienuyarnsi0001.suwa.illallangi.enterprises.'),
             CNAME('esxdata.suwa', 'ienuyarnsi0001.suwa.illallangi.enterprises.'),
             CNAME('pxedata.suwa', 'ienuyarnsi0001.suwa.illallangi.enterprises.'),

          A('ienuyarswi0001.suwa', '172.25.0.5'),
          A('ienuyarswi0002.suwa', '172.25.0.6'),
          A('ienuyarswi0003.suwa', '172.25.0.7'),

          A('ienuyarwai0001.suwa', '172.25.0.9'),

          A('ienuyarvsi0101.suwa', '172.25.0.17'),
          A('ienuyarvsi0102.suwa', '172.25.0.18'),

          A('ienuyarvci0101.suwa', '172.25.0.21'),

// ACA-INF-01

    A('vl513.ienuacarti0101.suwa', '172.25.32.1'),

          A('ienuacanip0001.suwa', '172.25.32.2'),

// YAR-DMZ-01

          A('ienuyarrti0001.suwa', '150.101.220.177'),
   A('vl4093.ienuyarrti0001.suwa', '150.101.220.177'),

          A('ienuyarrti0101.suwa', '150.101.220.178'),
   A('vl4093.ienuyarrti0101.suwa', '150.101.220.178'),

          A('ienuacarti0101.suwa', '150.101.220.179'),
   A('vl4093.ienuacarti0101.suwa', '150.101.220.179'),

    CNAME('*.ienuwonswp0100.suwa', 'ienuwonswp0100.suwa.illallangi.enterprises.'),
          A('ienuwonswp0100.suwa', '150.101.220.180'),
          A('ienuwonswp0100.suwa', '150.101.220.181'),
          A('ienuwonswp0100.suwa', '150.101.220.182'),
          A('ienuwonswp0101.suwa', '150.101.220.180'),
          A('ienuwonswp0102.suwa', '150.101.220.181'),
          A('ienuwonswp0103.suwa', '150.101.220.182'),
                    CNAME('cloud', 'ienuwonswp0100.suwa.illallangi.enterprises.'),
              CNAME('diskstation', 'ienuwonswp0100.suwa.illallangi.enterprises.'),
          CNAME('downloadstation', 'ienuwonswp0100.suwa.illallangi.enterprises.'),
              CNAME('filestation', 'ienuwonswp0100.suwa.illallangi.enterprises.'),
                     CNAME('plex', 'ienuwonswp0100.suwa.illallangi.enterprises.'),
                   CNAME('radarr', 'ienuwonswp0100.suwa.illallangi.enterprises.'),
                   CNAME('sonarr', 'ienuwonswp0100.suwa.illallangi.enterprises.'),

// VPN-01

     A('tun0.ienuyarrti0101.suwa', '172.25.255.225'),
     A('tun0.ienuacarti0101.suwa', '172.25.255.226'),

// SIN-WAN-01

          A('ienusinwsp0101.suwa', '139.162.30.87'),
    CNAME('*.ienusinwsp0101.suwa', 'ienusinwsp0101.suwa.illallangi.enterprises.'),

// YAR-WAN-01

   A('pppoe0.ienuyarrti0001.suwa', '59.167.127.11')

   );

//---------------------------------------------------------------------------------------------------------------------------------------------------
// alltheforest.com

D('alltheforest.com', REG_NONE, DnsProvider(DNS_CF),
                        ALIAS('@', 'ienusinwsp0101.suwa.illallangi.enterprises.'),
                      CNAME('www', 'ienusinwsp0101.suwa.illallangi.enterprises.')
  );

//---------------------------------------------------------------------------------------------------------------------------------------------------
// fiftyeight.us

D('fiftyeight.us', REG_NONE, DnsProvider(DNS_CF),
                        ALIAS('@', 'illallangi-web.github.io.'),
                      CNAME('www', 'illallangi-web.github.io.')
  );
  
//---------------------------------------------------------------------------------------------------------------------------------------------------
// illallangi.com

D('illallangi.com', REG_NONE, DnsProvider(DNS_CF),
                        ALIAS('@', 'ienuwonswp0100.suwa.illallangi.enterprises.'),
                          TXT('@', 'v=spf1 include:spf.protection.outlook.com include:_spf.internode.on.net -all'),
                           MX('@', 0, 'illallangi-com.mail.protection.outlook.com.'),
                      CNAME('www', 'ienuwonswp0100.suwa.illallangi.enterprises.'),
                      CNAME('sip', 'sipdir.online.lync.com.'),
             CNAME('autodiscover', 'autodiscover.outlook.com.'),
     CNAME('enterpriseenrollment', 'enterpriseenrollment.manage.microsoft.com.'),
   CNAME('enterpriseregistration', 'enterpriseregistration.windows.net.'),
             CNAME('lyncdiscover', 'webdir.online.lync.com.'),
                    CNAME('msoid', 'clientconfig.microsoftonline-p.net.'),
     SRV('_sipfederationtls._tcp', 100, 1, 5061, 'sipfed.online.lync.com.'),
                  SRV('_sip._tls', 100, 1, 443,  'sipdir.online.lync.com.')
  );

//---------------------------------------------------------------------------------------------------------------------------------------------------
// illq.net

D('illq.net', REG_NONE, DnsProvider(DNS_CF),
                            A('@', '67.199.248.12'),
                            A('@', '67.199.248.13'),
                      CNAME('www', 'illq.net.')
  );
  
