// Providers:

var REG_NONE = NewRegistrar('none', 'NONE');    // No registrar.
var DNS_CF = NewDnsProvider('cloudflare', 'CLOUDFLAREAPI');

//---------------------------------------------------------------------------------------------------------------------------------------------------
// illallangi.enterprises

D('illallangi.enterprises', REG_NONE, DnsProvider(DNS_CF),

// Apex records:

                        ALIAS('@', 'suwa.illallangi.enterprises.'),
                          TXT('@', 'v=spf1 include:spf.protection.outlook.com include:_spf.internode.on.net -all'),
                           MX('@', 0, 'illallangi-enterprises.mail.protection.outlook.com.'),
                      CNAME('www', 'suwa.illallangi.enterprises.'),
                     CNAME('home', 'suwa.illallangi.enterprises.'),
                     CNAME('docs', 'readthedocs.io.'),

// ANY-01
                     A('ntp.suwa', '172.25.25.25'),
                  A('resolv.suwa', '172.25.25.25'),

// WFS-INF-01
    A('v1025.ienuwfsrti0101.suwa', '172.25.64.1'),

          A('ienuwfsswi0001.suwa', '172.25.64.2'),

          A('ienuwfsnsi0001.suwa', '172.25.64.3'),
             CNAME('stadata.suwa', 'ienuwfsnsi0001.suwa.illallangi.enterprises.'),
             CNAME('wfsdata.suwa', 'ienuwfsnsi0001.suwa.illallangi.enterprises.'),
             CNAME('wondata.suwa', 'ienuwfsnsi0001.suwa.illallangi.enterprises.'),
             CNAME('esxdata.suwa', 'ienuwfsnsi0001.suwa.illallangi.enterprises.'),
             CNAME('pxedata.suwa', 'ienuwfsnsi0001.suwa.illallangi.enterprises.'),

    A('v1025.ienuwonswp0101.suwa', '172.25.64.4'),
    A('v1025.ienuwonswp0102.suwa', '172.25.64.5'),
    A('v1025.ienuwonswp0103.suwa', '172.25.64.6'),

          A('ienuwfsvcp0101.suwa', '172.25.64.7'),
          A('ienuwfsvcp0102.suwa', '172.25.64.8'),
          A('ienuwfsvsp0001.suwa', '172.25.64.9'),

// STA-INF-01

   A('vl1537.ienustarti0101.suwa', '172.25.96.1'),
          A('ienustaswi0001.suwa', '172.25.96.2'),
          A('ienustaswi0002.suwa', '172.25.96.3'),

// STA-DMZ-01

          A('ienustarti0001.suwa', '150.101.220.177'),
   A('vl4093.ienustarti0001.suwa', '150.101.220.177'),

          A('ienuwfsrti0101.suwa', '150.101.220.178'),
   A('vl4093.ienuwfsrti0101.suwa', '150.101.220.178'),

          A('ienustarti0101.suwa', '150.101.220.179'),
   A('vl4093.ienustarti0101.suwa', '150.101.220.179'),

    CNAME('*.ienuwonswp0100.suwa', 'ienuwonswp0100.suwa.illallangi.enterprises.'),
                         A('suwa', '150.101.220.180'),
                         A('suwa', '150.101.220.181'),
                         A('suwa', '150.101.220.182'),
          A('ienuwonswp0100.suwa', '150.101.220.180'),
          A('ienuwonswp0100.suwa', '150.101.220.181'),
          A('ienuwonswp0100.suwa', '150.101.220.182'),
          A('ienuwonswp0101.suwa', '150.101.220.180'),
          A('ienuwonswp0102.suwa', '150.101.220.181'),
          A('ienuwonswp0103.suwa', '150.101.220.182'),
                    CNAME('cloud', 'ienuwonswp0100.suwa.illallangi.enterprises.'),
              CNAME('diskstation', 'ienuwonswp0100.suwa.illallangi.enterprises.'),
          CNAME('downloadstation', 'ienuwonswp0100.suwa.illallangi.enterprises.'),
              CNAME('filestation', 'ienuwonswp0100.suwa.illallangi.enterprises.'),
                  CNAME('flights', 'ienuwonswp0100.suwa.illallangi.enterprises.'),
                     CNAME('view', 'ienuwonswp0100.suwa.illallangi.enterprises.'),
                  CNAME('vcenter', 'ienuwonswp0100.suwa.illallangi.enterprises.'),
                     CNAME('plex', 'ienuwonswp0100.suwa.illallangi.enterprises.'),
                      CNAME('soe', 'ienuwonswp0100.suwa.illallangi.enterprises.'),
                    CNAME('choco', 'ienuwonswp0100.suwa.illallangi.enterprises.'),
                     CNAME('guac', 'ienuwonswp0100.suwa.illallangi.enterprises.'),
            CNAME('tautulli.plex', 'ienuwonswp0100.suwa.illallangi.enterprises.'),
                   CNAME('radarr', 'ienuwonswp0100.suwa.illallangi.enterprises.'),
                   CNAME('sonarr', 'ienuwonswp0100.suwa.illallangi.enterprises.'),

// SIN-WAN-01

    CNAME('*.ienusinswp0100.suwa', 'ienusinswp0100.suwa.illallangi.enterprises.'),
                         A('suwa', '128.199.152.218'),
          A('ienusinswp0100.suwa', '128.199.152.218'),
          A('ienusinswp0101.suwa', '128.199.152.218'),
          A('ienusinswp0102.suwa', '159.65.5.106'),

    
// STA-WAN-01

   A('pppoe0.ienustarti0001.suwa', '59.167.193.8')

   );

//---------------------------------------------------------------------------------------------------------------------------------------------------
// alltheforest.com

D('alltheforest.com', REG_NONE, DnsProvider(DNS_CF),
                        ALIAS('@', 'ienusinswp0101.suwa.illallangi.enterprises.'),
                      CNAME('www', 'ienusinswp0101.suwa.illallangi.enterprises.')
  );

//---------------------------------------------------------------------------------------------------------------------------------------------------
// fiftyeight.us

D('fiftyeight.us', REG_NONE, DnsProvider(DNS_CF),
                        ALIAS('@', 'illallangi-web.github.io.'),
                      CNAME('www', 'illallangi-web.github.io.')
  );
  
//---------------------------------------------------------------------------------------------------------------------------------------------------
// illallangi.com

D('illallangi.com', REG_NONE, DnsProvider(DNS_CF),
                        ALIAS('@', 'ienuwonswp0100.suwa.illallangi.enterprises.'),
                          TXT('@', 'v=spf1 include:spf.protection.outlook.com include:_spf.internode.on.net -all'),
                           MX('@', 0, 'illallangi-com.mail.protection.outlook.com.'),
                      CNAME('www', 'ienuwonswp0100.suwa.illallangi.enterprises.'),
                      CNAME('sip', 'sipdir.online.lync.com.'),
             CNAME('autodiscover', 'autodiscover.outlook.com.'),
     CNAME('enterpriseenrollment', 'enterpriseenrollment.manage.microsoft.com.'),
   CNAME('enterpriseregistration', 'enterpriseregistration.windows.net.'),
             CNAME('lyncdiscover', 'webdir.online.lync.com.'),
                    CNAME('msoid', 'clientconfig.microsoftonline-p.net.'),
     SRV('_sipfederationtls._tcp', 100, 1, 5061, 'sipfed.online.lync.com.'),
                  SRV('_sip._tls', 100, 1, 443,  'sipdir.online.lync.com.')
  );

//---------------------------------------------------------------------------------------------------------------------------------------------------
// illq.net

D('illq.net', REG_NONE, DnsProvider(DNS_CF),
                            A('@', '67.199.248.12'),
                            A('@', '67.199.248.13'),
                      CNAME('www', 'illq.net.'),
                       CNAME('tx', 'ienusinswp0100.suwa.illallangi.enterprises.')
  );
  
