version: "3"

services:

  web:
    image: "jwilder/whoami"
    deploy:
      restart_policy:
        condition: "on-failure"
      labels:
        - "traefik.enable=true"
        - "traefik.backend={{ role_path | basename }}"
        - "traefik.port=8000"
        - "traefik.docker.network={{ docker_proxy_network }}"
        - "traefik.frontend.rule=Host:{{ inventory_clustername_domain }},{{ inventory_clustername }},{{ groups['all'] | join(',') }}"
    networks:
      - {{ docker_proxy_network }}

networks:
  {{ docker_proxy_network }}:
    external: true
